{% extends 'AppBundle::layout.html.twig' %}

{% block main %}
    <h2 class="center">Accueil</h2>

    <h2 class="center">Matchs avec cotes</h2>

    <div class="matchs">
        <div class="row">

            {% set date_day = null %}
            {% set date_hour = null %}
            <!-- Parcourt des matchs d'aujourd'hui et d'après triés par date -->

            <table class="table-cotes striped bordered">
                <thead>
                <tr>
                    <td>Date</td>
                    <td>Sport</td>
                    <td>Cote Equipe 1</td>
                    <td>Cote Nul</td>
                    <td>Cote Equipe 2</td>
                </tr>
                </thead>
                <tbody>
                {% for cote in cotes %}

                    <tr class="hover" data-match_id="{{ cote.match.matchId }}">
                        <td>{{ cote.match.matchdate|date("d/m/Y H:i") }}</td>
                        <td><span style="font-weight: bold">{{ cote.match.sport.sportnom }}</span></td>
                        <td>
                            <table>
                                <tr>
                                    <td><span class="brown-text">{{ cote.match.equipe1.equipenom }}</span></td>
                                </tr>
                                <tr>
                                    <td><span class="brown-text">{{ cote.coteEquipe1 }}</span></td>
                                </tr>
                                <tr class="variations">
                                    <td class="bold">{{ formatCote(cote.coteVarEquipe1) }}</td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            {% if cote.match.sport.sportnom not in sportsNotCoteNul %}
                            <table>
                                <tr>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>{{ cote.coteNul }}</td>
                                </tr>
                                <tr class="variations">
                                     <td class="bold">{{ formatCote(cote.coteVarNul) }}</td>
                                </tr>
                            </table>
                            {% endif %}
                        </td>
                        <td>
                            <table>
                                <tr>
                                    <td><span class="blue-text">{{ cote.match.equipe2.equipenom }}</span></td>
                                </tr>
                                <tr>
                                    <td><span class="blue-text">{{ cote.coteEquipe2 }}</span></td>
                                </tr>
                                <tr class="variations">
                                    <td class="bold">{{ formatCote(cote.coteVarEquipe2) }}</td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>




{% endblock %}
